trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

stages:
- stage: Build
  displayName: Build Stage
  jobs:
  - job: Build
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 10 SDK
      inputs:
        packageType: 'sdk'
        version: '8.0.x'
        includePreviewVersions: true

    - script: dotnet restore
      displayName: Restore Packages

    - script: dotnet build --configuration $(buildConfiguration)
      displayName: Build Application

    - script: dotnet publish -c $(buildConfiguration) -o $(Build.ArtifactStagingDirectory)
      displayName: Publish App

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'


